{% extends 'layout/base.html' %}

{% load bootstrap4 %}

{% block title %}Главная{% endblock title %}

{% block content %}
    <div class="container">
        <p class="space color">
            Добро пожаловать, {{ user.username }}
        </p>
    </div>
    <div class="container">
        <a class="space" href="{% url 'blog:index_blog' blog.id %}">
            Мой блог
        </a>
        <a class="space" href="{% url 'blog:list_other_blogs' %}">
            Блоги других пользователей
        </a>
        <a class="space" href="{% url 'timeline:index_timeline' timeline.id %}">
            Моя лента новостей
        </a>
    </div>
{% endblock content %}