{% extends "layout/base.html" %}

{% load bootstrap4 %}
{% bootstrap_javascript %}

{% block title %}Войти{% endblock title %}

{% block content %}

    <div class="container-form">
        <form action="{% url 'user:login' %}" method="post" class="form">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% buttons %}
            <button type="submit" class="btn btn-primary">
              Войти
            </button>
          {% endbuttons %}
        </form>
    </div>

{% endblock %}