<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {% load static %}

      <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

      <title>
          {% block title %}{% endblock %} | News Blog
      </title>

      {% load bootstrap4 %}

      {% bootstrap_css %}
      {% bootstrap_javascript %}

  </head>

  <body>
      <div>
            <div class="container-right">
                <a class="space" href="{% url 'main:index' %}">Главная</a>
                <a href="{% url 'users:logout' %}">Выйти</a>
            </div>
            {% block content %}{% endblock content %}
      </div>
  </body>
</html>